/logs
/config

.venv
**/__pycache__/

.idea/
venv/

# 打包相关
/build
/dist

# MACOS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 数据文件
data/
*.pt
*.log
**/tmp/
# 敏感凭证文件
**/service-account.json
**/*.pem
**/*.key
**/*.p12
.env
.env.*
**/.terraform/
**/terraform.tfstate*
**/.terragrunt-cache/
secrets/
# 忽略本地的 Secret 文件
app-secrets.yaml

# 其他可能的敏感文件
*-secret.yaml
*-secrets.yaml
*.key
*.pem
*.env 
server/models